
  
    <%= form_with(model: [@post, @comment], local: true) do |form| %> 
    <p class="text-muted text-sm">
      <%= form.label :comment %><br>
      <%= form.text_area :content %><br>
      <%= form.submit %>
    </p>
    <% end %>