/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "partials/*";

// Default styles
@import "base/default";

body {
  margin-top: 20px;
  background: #ebeef0;
}

// line underneath posts
.line {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);
  border-radius: 0;
  border: 0;
  margin-bottom: 15px;
  background-color: white;
}

// grey text for timestamp
.text-muted,
a.text-muted:hover,
a.text-muted:focus {
  color: #acacac;
  font-size: 11px;
}

.col-sm-offset-4 {
  margin-top: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  font-size: 0.5em;
  padding-top: 15px;
  border: thin;
  background-color: white;
}

.pic {
  background-image: url("https://images.unsplash.com/photo-1445264718234-a623be589d37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.2) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
