/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "partials/*";

// Default styles
@import "base/default";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

body {
  margin-top: 20px;
  background: #ebeef0;
  text-align: center;
}

// line underneath posts
.line {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);
  border-radius: 0;
  border: 0;
  margin-bottom: 15px;
  background-color: white;
}

// grey text for timestamp
.text-muted,
a.text-muted:hover,
a.text-muted:focus {
  color: #acacac;
  font-size: 11px;
}

.col-sm-offset-4 {
  margin-top: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  font-size: 0.5em;
  padding-top: 15px;
  border: thin;
  background-color: white;
}

.pic {
  background-image: url("cover.jpeg");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

.pic2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1445264718234-a623be589d37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

#head-wrap {
  text-align: center;
  background-color: #d1d1d1;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

#page-wrap {
  text-align: left;
  width: 600px;
  margin: 0 auto;
}

#comm-wrap {
  text-align: left;
  padding-left: 10px;
  padding-top: 20px;
  margin: 0 auto;
  // background-color: red;
  width: 40%;
}

#comm-wrap2 {
  text-align: center;
  margin: 0 auto;
  // background-color: yellow;
  width: 40%;
}

#messag {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: 0 auto;
  // background-color: yellow;
  border-bottom: 1px solid #acacac;
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
}
